html {
    background-color: beige;
}

body {
    color: brown
}

header {
    text-align: center;
    font-size: 40px;
    margin: 3px;
}

header h1 {
    font: size 50px;
    font-weight: bold;
    margin: 5px;
    text-shadow: 4px 4px 3px rgba(255, 230, 0, 0.877);
    line-height: 28px;
    text-transform: uppercase;
}

header h2 {
    font: size 30px;
    font-style: italic;
    font-weight: normal;
    margin: 5px;
    letter-spacing: 6px;
    text-transform: lowercase;
    text-shadow: 2px 2px 1px green;
    transform: skew(323deg, 360deg);
}

article {
    margin: auto;
    vertical-align: center;
    border-style: dotted;
    border-width: 5px;
    border-color: firebrick;
    border-radius: 20px;
    padding: 8px;
    width: fit-content;
    height: fit-content;
}

nav {
    font-size: 20px;
    padding-left: 10px;
}

footer {
    text-align: center;
    margin: auto;
    font-size: 45px;
}

a {
    color: firebrick;
    text-decoration: none;
}

a:hover {
    color: green;
}

a:visited {
    font-style: italic;
}

.inline-list,
.inline-list li {
    list-style: none;
    vertical-align: middle;
    display: inline;
    padding: 0%;
}

#copyright {
    text-align: center;
    color: black;
    font-style: italic;
    font-size: small;
}

.description {
    color: rgba(165, 42, 42, 0.712);
    font-size: smaller;
    max-width: 80%;
    margin-left: 10%;
}

.menu-item {
    font-size: larger;
    text-align: center;
    display: inline-block;
    padding: 5%;
}

.full-menu {
    text-align: center;
}

.menu-img {
    float: left;
    padding-left: 20%;
    padding-right: 2%;
}

.price {
    color: green;
    font-style: italic;
}

.item-description {
    line-height: 70%;
    padding-left: 3%;
}

.display-menu-item {
    text-align: center;
}

footer {
    clear: left;
}